---
---

@import "{{ site.theme }}";

header h1 { font: 40px/48px 'Montserrat Bold', "Helvetica Neue", Helvetica, Arial, sans-serif; }
#banner .fork { margin-top: 8px; }
@media print, screen and (max-width: 480px) {
	body { overflow-x: hidden; }
	#banner .downloads span { display: none; }
	#banner {
		display: block;
		position: relative;
		min-height: 0px;
		top: 0px;
		padding: 5px 0px;
	}
	#banner .fork {
		display: inline-block;
		position: relative;
		float: left;
		left: 20px;
		margin-left: 0px;
	}
}
