---
---

@import "{{ site.theme }}";

header h1 {
	font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	span {
		font-weight: bold;
		color: #ffc107;
	}
}
#banner .fork { margin-top: 8px; }
@media print, screen and (max-width: 480px) {
	body { overflow-x: hidden; }
	header h1 { font-size: 18px !important; }
	#banner .downloads span { display: none; }
	#banner {
		display: block;
		position: relative;
		min-height: 0px;
		top: 0px;
		padding: 5px 0px;
	}
	#banner .fork {
		display: inline-block;
		position: relative;
		float: left;
		left: 20px;
		margin-left: 0px;
	}
}
@media print, screen and (min-width: 481px) and (max-width: 720px) {
	header h1 {
		font-size: 24px;
		position: relative;
		left: -20px;
		top: -5px;
	}
}
@media print, screen and (min-width: 721px) and (max-width: 1060px){
	header {
		h1 { font-size: 32px; }
		h1, p {
			position: relative;
			left: -20px;
		}
	}
}